<div class="header">
    <h1>Feel free to contact us any time</h1>
    <ul class="icons">
        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
        <li><a href="#" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
        <li><a href="https://github.com/Intergalaxen" class="icon fa-github"><span class="label">Github</span></a></li>
    </ul>
</div>