<h1> Welcome to the Intergalactic marketplace</h1>
<section class="categories">
    <div class="category-item" style="background-image: url('images/categories/about-pic01.jpg');">
        <div class="category-item-inner">
            <div>
                Tech
            </div>
        </div>
    </div>
    <div class="category-item" style="background-image: url('images/products/marketplace-pic07.jpg');">
        <div class="category-item-inner">
            <div>
                Basic stuff
            </div>
        </div>
    </div>
    <div class="category-item" style="background-image: url('images/products/materia-product07.jpg');">
        <div class="category-item-inner">
            <div>
                Materia
            </div>
        </div>
    </div>
    <div class="category-item" style="background-image: url('images/categories/crystals.jpg');">
        <div class="category-item-inner">
            <div>
                Gemstones and crystals
            </div>
        </div>
    </div>
</section>
<h2 class="featured-products-title">Featured products</h2>
<section class="featured-products">
    <div>
        <div class="filters">
            <h2>Filters</h2>
            <div class="all-filters">
                <div class="filters-section">
                    <strong>Catergories</strong>
                    <label for="" class="filter">
                        <input type="checkbox"> Crystals
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Technology
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Metals
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Other maretial
                    </label>
                </div>
                <div class="filters-section">
                    <strong>Color</strong>
                    <label for="" class="filter">
                        <input type="checkbox"> Multicolored
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Black
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Gold
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Silver
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Purpule
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Green
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Blue
                    </label>
                </div>
                <div class="filters-section">
                    <strong>Price</strong>
                    <label for="" class="filter">
                        <input type="checkbox"> Between 0 - 5 BTC
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> 5 - 10 BTC
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> 10 - 20 BTC
                    </label>
                    <label for="" class="filter">
                        <input type="checkbox"> Over 20 BTC
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="featured-products-grid">
        <% supplies.forEach(function(vara) { %>
            <a href="/product?id=<%= vara.id %>">
                <div class="featured-product-item">

                    <div class="featured-product-item-image" style="background-image: url('<%= vara.img_url %>');"></div>
                    <p class="title">
                        <%= vara.name %>
                    </p>
                    <p class="description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor, alias, sunt in quo sed officia eveniet repellat fugia!
                    </p>
                    <p class="price">
                        <%= vara.price %> BTC</p>
                    <button>View item</button>
                </div>

                <% }); %>


                    <div class="featured-product-item">
                        <div style="background-image: url('images/products/gemstone-product07.jpg');" class="featured-product-item-image"></div>

                        <p class="description">A super fast drone with a long living batterytime</p>
                        <p class="price">7 BTC</p>
                        <button>View item</button>
                    </div>
                    <div class="featured-product-item">
                        <div style="background-image: url('images/products/materia-product05.jpg');" class="featured-product-item-image"></div>
                        <p class="title">Drone</p>
                        <p class="description">A super fast drone with a long living batterytime</p>
                        <p class="price">7 BTC</p>
                        <button>View item</button>
                    </div>
                    <div class="featured-product-item">
                        <div style="background-image: url('images/products/marketplace-pic04.jpg');" class="featured-product-item-image"></div>
                        <p class="title">Drone</p>
                        <p class="description">A super fast drone with a long living batterytime</p>
                        <p class="price">7 BTC</p>
                        <button>View item</button>
                    </div>
                    <div class="featured-product-item">
                        <div style="background-image: url('images/products/marketplace-pic07.jpg');" class="featured-product-item-image"></div>
                        <p class="title">Drone</p>
                        <p class="description">A super fast drone with a long living batterytime</p>
                        <p class="price">7 BTC</p>
                        <button>View item</button>
                    </div>
                    <div class="featured-product-item">
                        <div style="background-image: url('images/products/gemstone-product04.jpg');" class="featured-product-item-image"></div>
                        <p class="title">Drone</p>
                        <p class="description">A super fast drone with a long living batterytime</p>
                        <p class="price">7 BTC</p>
                        <button>View item</button>
                    </div>
    </div>
</section>