<div class="main-page marketplace">
    <div class="header">
        <h1>Marketplace</h1>
        <h2>Buy, sell and enjoy!</h2>
    </div>
    <div class="featured-products-grid">
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic03.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/gemstone-product07.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/materia-product05.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic04.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic05.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic06.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic07.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/marketplace-pic08.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
        <div class="featured-product-item">
            <div style="background-image: url('images/products/gemstone-product04.jpg');" class="featured-product-item-image"></div>
            <p class="title">Drone</p>
            <p class="description">A super fast drone with a long living batterytime</p>
            <p class="price">7 BTC</p>
            <button>View item</button>
        </div>
    </div>
    <div class="mark-items featured-products-grid">
        <ul class="column">
            <li><img src="images/products/gemstone-product04.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/gemstone-product05.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/marketplace-pic03.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/marketplace-pic04.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/materia-product04.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/materia-product05.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/materia-product06.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/gemstone-product06.jpg" width="300px" alt="marketplace item"></li>
            <li><img src="images/products/gemstone-product02.jpg" width="300px" alt="marketplace item"></li>
        </ul>
    </div>
</div>