<div class="marketplace">
    <div class="header">
        <h1>Marketplace</h1>
        <h2>Buy, sell and enjoy!</h2>
    </div>
    <div class="products-grid">
        <div class="item">
            <a><img src="images/products/marketplace-pic03.jpg" alt="product03"></a>
        </div>
        <div class="item">
            <a><img src="images/products/marketplace-pic04.jpg" alt=""></a>
        </div>
        <div class="item">
            <a><img src="images/products/marketplace-pic05.jpg" alt=""></a>
        </div>
        <div class="item">
            <a> <img src="images/products/marketplace-pic06.jpg" alt=""></a>
        </div>
        <div class="item">
            <a><img src="images/products/marketplace-pic08.jpg" alt=""></a>
        </div>
        <div class="item">
            <img src="images/products/gemstone-product02.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/products/gemstone-product04.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/products/gemstone-product05.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/products/gemstone-product06.jpg" alt="">
        </div>
        <div class="item">
            <img src="images/products/gemstone-product07.jpg" alt="product07">
        </div>
        <div class="item">
            <img src="images/products/materia-product04.jpg" alt="product05">
        </div>
        <div class="item">
            <img src="images/products/materia-product05.jpg" alt="product05">
        </div>
        <div class="item">
            <img src="images/products/materia-product06.jpg" alt="product05">
        </div>
    </div>
</div>