<h1>
    <%= name %>
</h1>
<div class="container">
    <p>Price:
        <%= price %> BTC</p>
    <div>
        <img src="<%= img_url %>">
    </div>
</div>
<button onclick="buy( <%= id %> )">Köp!</button></div>