@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap");
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: linear-gradient( 60deg, rgb(106, 185, 168) 0%, rgba(58, 122, 87, 0.767) 25%, rgba(85, 25, 109, 0.767) 50%, rgba(226, 109, 62, 0.767) 75%, rgb(219, 161, 73) 100%);
    font-family: "Poppins", Helvetica, sans-serif;
    min-height: 30rem;
}

li {
    list-style-type: none;
}


/* HOMEPAGE */


/* header section */

h1 {
    color: black;
    text-align: center;
    margin-top: 5rem;
    font-size: 2em;
    letter-spacing: 0.2rem;
    text-shadow: 0.1rem 0.1rem 0.7rem #141414cc;
}

h2 {
    letter-spacing: 0.2em;
    margin-bottom: 1em;
    text-shadow: 0.1rem 0.2rem 0.3rem #141414cc;
}

.categories {
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.category-item {
    flex-grow: 1;
    flex-basis: 0;
    min-width: 32%;
    box-sizing: border-box;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 3px;
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.521);
}

@media (max-width: 1000px) {
    .category-item {
        min-width: 49%;
    }
}

@media (max-width: 800px) {
    .category-item {
        min-width: 99%;
    }
}

.category-item-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.category-item-inner>div {
    padding: 5px 10px;
    background: transparent;
    color: white;
    box-shadow: 0 0 5px snow;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    /* transition-duration: 2s; */
}

.featured-products {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-gap: 20px;
}

@media(max-width: 600px) {
    .featured-products {
        grid-template-columns: 1fr;
    }
}

.filters {
    background: rgba(0, 0, 0, 0.5);
    color: #eee;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
}

.filter {
    display: block;
    margin: 5px 0;
    color: white;
}

.filters-section {
    margin-bottom: 20px;
}

.filters-section>strong {
    margin: 10px 0;
    display: block;
    color: white;
}

@media(max-width: 600px) {
    .all-filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filters-section {
        margin-right: 2rem;
    }
}

.featured-products-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

@media (max-width: 1000px) {
    .featured-products-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 800px) {
    .featured-products-grid {
        grid-template-columns: 1fr;
    }
}

.featured-products-title {
    text-align: center;
}

.featured-product-item {
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.5);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    background: #eee;
    max-width: 300px;
}

.featured-product-item-image {
    height: 200px;
    background-size: cover;
    background-position: center;
}

.featured-product-item>.title {
    font-size: 20px;
    font-weight: bold;
}

.featured-product-item>.description {
    color: rgba(0, 0, 0, 0.5);
}

.featured-product-item>.price {
    font-style: italic;
}

button {
    outline: none;
    background: black;
    font-family: "Poppins", sans-serif;
    color: white;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    margin: 10px 0;
}


/* MARKETPLACE PAGE */

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 12em;
}

@media (max-width: 1000px) {
    .products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .products-grid {
        grid-template-columns: 1fr;
    }
}

.products-grid img {
    width: 200px;
    transition-duration: 900ms;
    border-radius: 3px;
    box-shadow: 0 0 10px #000000ee;
}

.products-grid img:hover {
    transform: scale(1.03);
    transition-duration: 200ms;
}

.marketplace .header {
    text-align: center;
    margin: -10em auto;
    min-height: 30rem;
    background: url('../images/categories/crystals.jpg') 75%;
    background-size: cover;
    background-position: center;
}

.header h1 {
    padding-top: 5em;
}

.marketplace.item {
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.5);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    background: #eee;
}


/* ABOUT PAGE */

.header {
    text-align: center;
    margin: -5em auto;
    padding-bottom: 10rem;
}

.about-page {
    background-color: #000000ee;
    margin: 0 auto;
    padding: 5%;
    color: #f4f4f4;
}

.about-page .column {
    width: 50%;
}

.about-page .row {
    width: 100%;
    padding: 2rem;
    margin-bottom: 1rem;
}

article div {
    padding: 2rem 0;
}

.about-page img {
    width: 100%;
    min-width: 10rem;
    margin: 0 auto;
}


/* MARKETPLACE PAGE */

.marketplace .header {
    margin: 0 -5rem;
    min-height: 30rem;
    background: url(img/marketplace-pic11.jpg) 75%;
}

.mark-items .column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mark-items li {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 0 auto;
}

.mark-items img {
    transition-duration: 900ms;
}

.mark-items img:hover {
    transform: scale(1.03);
    transition-duration: 200ms;
}


/* CONTACT PAGE */


/* Icon */

.icons {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    align-items: center;
    justify-content: center;
}

ul.icons li .icon:before {
    font-size: 2em;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.fa-twitter:before {
    content: "\f099";
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
    margin: 0 auto;
    padding: 2rem;
}

.icons a:hover {
    color: #000000ee;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon>.label {
    display: none;
}


/* PRODUCT PAGE */

.container {
    padding: 2rem;
}


/* CHECKOUT PAGE */

.order-details {
    flex-direction: column;
    width: 30%;
    margin: 2rem;
}

.order-details h2 {
    margin: 5rem;
    margin: 0 auto;
    font-size: 2em;
}


/* FORMS */

@media screen and (min-width: 900px) {
    form {
        width: 50%;
    }
    .myForm {
        display: flex;
        flex-direction: column;
        background: linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
        border-radius: 3px;
        padding: 3rem;
        margin: 3%;
        margin-bottom: 100px;
        text-align: left;
    }
    .row {
        display: flex;
        justify-content: center;
        padding-right: 1em;
        align-content: space-around;
    }
    .column {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }
    .input-group {
        display: flex;
    }
    .input-group>label {
        margin-right: 1em;
        padding: .5em 0;
    }
    .myForm input,
    .myForm select {
        flex: 6;
        padding: .5em;
        margin-bottom: 1em;
        height: 2rem;
    }
    .myForm button {
        padding: 1em;
        background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
        color: white;
        border: 0;
        transition-duration: 700ms;
    }
    .myForm button:hover {
        transform: scale(1.02);
        transition-duration: 400ms;
    }
    .myForm fieldset {
        border: 0;
    }
    .payment>label,
    .extras>label {
        display: block;
    }
}

@media screen and (min-width: 900px) {
    form {
        width: 50%;
    }
    .myForm {
        display: flex;
        flex-direction: column;
        background: linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
        border-radius: 3px;
        padding: 3rem;
        margin: 3%;
        margin-bottom: 100px;
        text-align: left;
    }
    .row {
        display: flex;
        justify-content: center;
        padding-right: 1em;
        align-content: space-around;
    }
    .column {
        display: block;
        flex-direction: column;
        padding: 1em;
    }
    .input-group {
        display: flex;
    }
    .input-group>label {
        margin-right: 1em;
        padding: .5em 0;
    }
    .myForm input,
    .myForm select {
        flex: 6;
        padding: .5em;
        margin-bottom: 1em;
        height: 2rem;
    }
    .myForm button {
        padding: 1em;
        background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
        color: white;
        border: 0;
        transition-duration: 700ms;
    }
    .myForm button:hover {
        transform: scale(1.02);
        transition-duration: 400ms;
    }
    .myForm fieldset {
        border: 0;
    }
    .payment>label,
    .extras>label {
        display: block;
    }
}

@media screen and (max-width: 900px) {
    form {
        width: 100%;
    }
    .myForm {
        display: flex;
        flex-direction: column;
        background: linear-gradient(110deg, rgba(207, 162, 233, 0.555) 0%, rgba(111, 136, 219, 0.555) 100%);
        border-radius: 3px;
        padding: 3rem;
        margin: 3%;
        margin-bottom: 100px;
        text-align: left;
    }
    .row {
        display: flex;
        justify-content: left;
        padding-right: 1em;
    }
    .column {
        display: block;
        flex-direction: column;
        padding: 1em;
    }
    .input-group {
        display: flex;
    }
    .input-group>label {
        margin-right: 1em;
        padding: .5em 0;
    }
    .myForm input,
    .myForm select {
        flex: 6;
        padding: .5em;
        margin-bottom: 1em;
        height: 2rem;
    }
    .myForm button {
        padding: 1em;
        background: linear-gradient(40deg, rgba(111, 155, 156, 0.459) 0%, rgba(207, 162, 233, 0.8) 100%);
        color: white;
        border: 0;
        transition-duration: 700ms;
    }
    .myForm button:hover {
        transform: scale(1.02);
        transition-duration: 400ms;
    }
    .myForm fieldset {
        border: 0;
    }
    .payment>label,
    .extras>label {
        display: block;
    }
}


/* FOOTER */

footer {
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    min-height: 20rem;
    background: #000000ee;
    margin-top: 5rem;
    color: #eee;
}

footer ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

footer li {
    padding: 2rem;
}

footer h4 {
    padding: 2rem;
    margin: 0 auto;
}

footer a:hover {
    color: #bbbbbbbb;
}