<html>

<head>
    <title>Min fina e-shop</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <%- include('../partial/header.ejs') %>

        <h2>Min varukorg</h2>

        <h3>supplies:</h3>
        <ul>
        </ul>

        <p>Totalpris:
            <%= totalprice %>
        </p>

        <script src="js/cookies.js"></script>
</body>

</html>